*.dll
*.opendb
*.opensdf
*.sdf
*.suo
*.VC.db
*.vcxproj.user
.vs/
Debug/
Release/
/Lib/*
!/Lib/README.md
Documentation/Doxygen/html
Documentation/Doxygen/latex
Tests/Core/TestData/Bin/*
!Tests/Core/TestData/Bin/README.md
Tests/Core/TestOutput/*
Tests/SQLiteTests/TestOutput